body {
  background-color: #d6d7de;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0px;
  padding: 0px;
}

.roboto {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.btn {
  font-size: large;
  color: white;
  border-color: rgb(71, 71, 243);
  background-color: rgb(3, 93, 247);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.input {
  font-size: large;
  padding: 10px 20px;
  margin: 5px;
  border-style: none;
  border-radius: 5px;
}

.innerBtn {
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.inputError {
  border-color: red;
  border-style: solid;
}

.tableStyle {
  width: 75%;
  border-collapse: collapse;
  margin: 5px;
}

#table th {
  background-color: #6a6a6e; /* #7c7c81 */
  padding: 10px;
  color: white;
  text-align: left;
  font-size: 18px;
}

#table td {
  padding: 5px;
}

#table td {
  border-bottom: 1px solid rgb(73, 73, 67);
  color: rgb(73, 73, 67);
}

#table tr:nth-child(even) {
  background-color: #c6c6cd;
}

h1 {
  margin: 20px;
  color: rgb(73, 73, 67);
}
